/*Common CSS*/

html,
body {
    padding: 0;
    max-width: 100%;
}

td {
    border: 1px solid #D3D3D3;
    padding: 3px;
}

th {
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    padding: 3px;
}

table {
    border-spacing: 0;
}

img:not(.infra),
canvas:not(.infra),
iframe:not(.infra),
video:not(.infra),
select:not(.infra),
textarea:not(.infra) {
    display: block !important;
    /* margin: 0 auto !important; */
}

.md-button.md-fab.md-fab-top-right {
    bottom: auto;
    right: 20px;
    top: 40px;
    left: auto;
    position: fixed;
}

.interactive-img {
    max-width: 100%;
    padding: 7px 1px 1px 1px;
}

.interactive-frame {
    border: none;
    width: 100%;
}

md-dialog.fullscreen-dialog {
    border-radius: 0;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    color: rgba(255, 255, 255, 0.87);
}

.menu-hamburger {
    padding: 4px 1px 1px 0px;
    height: 20px;
    width: 20px;
}

.float-right {
    float: right;
}

.mini-toolbar-tools {
    font-size: 10px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 32px;
    max-height: 32px;
    padding: 0 8px;
    margin: 0;
}

.mini-toolbar {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 10px;
    min-height: 32px;
    width: 100%;
}

.ttc md-toolbar.md-default-theme.md-hue-3:not(.md-menu-toolbar),
.ttc md-toolbar.md-hue-3:not(.md-menu-toolbar) {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #006E87;
}

.md-button.md-default-theme.high-contrast-hover:hover {
    background-color: rgb(10,10,90) !important;
}

.md-button.infra {
  flex-shrink: 0;
}

/* body > md-toolbar > div > h2:after {
    content: ': LAB NAME';
} */

md-toolbar {
  height: 50px;
  min-height: 50px;
}

.md-toolbar-tools.infra {
  height: 50px;
  max-height: 50px;
}

md-toolbar.layout-padding.infra {
  padding-top: 0;
  padding-bottom: 0;
}

.version-heading {
    margin-top: 50px;
    margin-left: 30px;
}

.version-box {
  display: flex;
  flex-wrap: wrap;
}

.version-content {
  /* flex-grow: 33; */
  border: 1px solid lightgrey;
  margin: 25px;
  margin-top: 0px;
  width: 350px;
}

.version-banner {
  display: flex;
  justify-content: center;
}

.version-title {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.version-detail {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: medium;
  margin-top: 10px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
}

#interactive {
  height: calc(100vh - 61px);
  width: calc(100vw - 4px)}

#labguide {
  /* height: 100vh; */
  /* overflow-y: hidden !important; */
  /* overflow: scroll; */
}

#toastHolder {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 2;
  width: 100%;
}

/*DESKTOP SETTINGS*/

@media only screen and (min-width: 801px) {
    #labguide {
        margin: 0 auto;
        padding: 3.25rem 10em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
    }
}


/*LARGE DESKTOPS SCREENS*/

@media only screen and (min-height: 830px) and (min-width: 960px) {
    md-dialog.fullscreen-dialog {
        height: 830px;
        max-height: 830px;
        max-width: 1700px;
        width: 80%;
    }
    .interactive-frame {
        border: none;
        width: 100%;
        height: 790px;
    }
}


/*LAPTOP SCREENS*/
@media only screen and (max-height: 829px) and (min-height: 701px) and (min-width: 960px) {
    md-dialog.fullscreen-dialog {
        height: 680px;
        max-height: 700px;
        max-width: 1300px;
        width: 80%;
    }
    .interactive-frame {
        height: 640px;
    }
}

/*TINY SCREENS*/
@media only screen and (max-height: 700px) and (min-width: 960px) {
    md-dialog.fullscreen-dialog {
        height: 90%;
        max-height: 90%;
        max-width: 959px;
        width: 80%;
    }
    .interactive-frame {
        height: 700px;
    }
}

@media only screen and (max-width: 959px) {
    md-dialog.fullscreen-dialog {
        height: 100%;
        max-height: 100%;
    }
    .interactive-frame {
        height: 1024px;
    }
}


/*PHONE AND TABLET SETTINGS*/

@media only screen and (max-width: 800px) {
    #labguide {
        margin: 0 auto;
        padding: 1rem;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
    }
    h1:not(.infra),
    .modest-h1:not(.infra) {
        font-size: 1.5rem;
    }
    h2:not(.infra),
    .modest-h1:not(.infra) {
        font-size: 1.25rem;
    }
    h3:not(.infra),
    .modest-h1:not(.infra) {
        font-size: 1rem;
    }
    p:not(.infra),
    .modest-p:not(.infra) {
        font-size: .85rem;
        margin-bottom: 1rem;
        margin-left: 15px;
    }
}
